@import "../mixins.scss";
.modal {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: .5s;
}
.modal.active {
	opacity: 1;
	pointer-events: all;
}
.modal__content {
	padding: 20px;
	border-radius: 15px 15px 50px 50px;
	background: rgba(0,0,0,.8);
	transform: scale(0.5);
	opacity: 0.9;
	transition: .5s;
	display: flex;
	flex-direction: column;
	gap: 40px;
	max-height: 95vh;
	width: 40vw;
	overflow-y: auto;
}
.modal__content.active {
	transform: scale(1);
}
.modal__title {
	@include adaptive('font-size', 50, 25, 'px');
	@include adaptive('line-height', 50, 25, 'px');
	font-weight: 900;
	color: rgba(255,255,255,0.4);
	transition: all var(--transition);
	text-transform: uppercase;
	z-index: 3;
}
.modal__desc {
	@include adaptive('font-size', 27, 2, 'px');
	@include adaptive('line-height', 27, 2, 'px');
	color: #fff;
	z-index: 3;
}
.modal__more {
	width: 20%;
	display: flex;
	justify-content: flex-start;
	background: none;
	border: none;
	color: rgba(255,255,255,0.4);
	@include adaptive('font-size', 20, 2, 'px');
	@include adaptive('line-height', 20, 2, 'px');
	cursor: pointer;
	margin-top: -20px;
}
.modal__more:hover {
	text-decoration: underline;
}
.modal__close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: flex-start;
	background: none;
	border: none;
	color: rgba(255,255,255,0.4);
	@include adaptive('font-size', 40, 2, 'px');
	@include adaptive('line-height', 40, 2, 'px');
	cursor: pointer;
	z-index: 5;
}
.modal__close:hover {
	color: rgba(255,255,255,0.8);
}
.modal-more .modal__close {
	color: rgba(0, 0, 0, 0.6);
}
.modal__buttons {
	display: flex;
	justify-content: space-between;
}
.modal__button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px 10px;
	width: 48%;
	background-color: #8b0000;
	border-radius: 50px;
	color: #d2b48c;
	text-decoration: none;
	@include adaptive('font-size', 27, 2, 'px');
	@include adaptive('line-height', 27, 2, 'px');
	transition: background var(--transition);
	cursor: pointer;
}
.modal__button:hover, .form__button:hover {
	background-color: #ac0000;
}
.modal-more {
		padding: 40px 50px;
		gap: 20px;
		background: rgb(255, 255, 255);
		border-radius: 15px 0px 0px 15px;
		width: 60vw;
		overflow-y: auto;
		color: rgba(0,0,0,.8);
		opacity: 1;
	&__title {
		@include adaptive('font-size', 50, 25, 'px');
		@include adaptive('line-height', 50, 25, 'px');
		font-weight: 900;
		color: rgba(255,255,255,0.4);
		transition: all var(--transition);
		text-transform: uppercase;
		z-index: 3;
		color: #D93666;
	}
	p {
		@include adaptive('font-size', 24, 14, 'px');
		@include adaptive('line-height', 28, 16, 'px');
		letter-spacing: 1.1;
		text-align: justify;
		padding: 5px 0;
	}
	span {
		font-weight: 700;
		color: #D93666;
	}
	&__subtitle {
		@include adaptive('font-size', 24, 14, 'px');
		@include adaptive('line-height', 30, 18, 'px');
		font-weight: 700;
		color: #D93666;
	}
	&__item {
		@include adaptive('font-size', 24, 14, 'px');
		@include adaptive('line-height', 30, 18, 'px');
		margin-left: 20px;
		text-align: justify;
	}
}
@media screen and (max-width: 767px) {
	.modal {
		align-items: start;
	}
	.modal__content {
		border-radius: 15px 15px 50px 50px;
		gap: 30px;
		width: 90vw;
		max-height: 85vh;
		margin-top: 10px;
	}
	.modal-more {
		gap: 10px;
		padding: 30px;
		border-radius: 15px;
		&__item {
			text-align: left;
		}
	}
	.modal-more.modal__content {
		margin-bottom: 0px;
	}
	.modal__desc {
		@include adaptive('font-size', 27, 14, 'px');
		@include adaptive('line-height', 27, 18, 'px');
	}
	.modal__more {
		width: 30%;
		@include adaptive('font-size', 20, 13, 'px');
		@include adaptive('line-height', 20, 13, 'px');
		text-decoration: underline;
		
	}
	.modal__close {
		@include adaptive('font-size', 40, 30, 'px');
		@include adaptive('line-height', 40, 30, 'px');
	}
	.modal__buttons {
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: space-between;
	}
	.modal__button, .form__button {
		width: 100%;
		@include adaptive('height', 54, 56, 'px');
		@include adaptive('font-size', 27, 18, 'px');
		@include adaptive('line-height', 27, 18, 'px');
	}
}